@use "rwd" as *;
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

html {
  font-size: 16px;
  font-family: "Oxanium", sans-serif;
  color: #fff;
}

body {
  line-height: 1.7;
}
