menu "BusBunny/Network"

    config WIFI_SSID
        string "SSID"
        default "BusBunny"

    config WIFI_PASSWORD
        string "Password"
        default "BusBunn"

    config WIFI_CHANNEL
        int "WiFi channel"
        default 1

    config WIFI_PORT
        int "Port"
        default "9002"

endmenu